* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(82,82,82,1) 89%, rgba(195,159,255,1) 100%);
}

/*---------HEADER---------------------------------------------------------------------*/
/*----boton de busqueda*/
.btn {
	color: white !important;
	border: 1px solid white !important;
}

.btn:hover {
	color: black !important;
	background-color: white !important;
	border: 1px solid black !important;
}
/*----Input----*/
.form-control {
	font-family: amatic sc;
	font-size: 20px !important;
	color: rgb(212, 165, 50)!important;
	background-color: black !important;
}
/*------navegacion-----*/

.navbar-toggler {
	
	background-color:#7f7777 !important;
}
.navegacion {
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,23,54,1) 50%, rgba(129,95,199,1) 100%);
	text-align: center;

}

.navegacion a {
	color: black;
	font-size: 25px;
	font-weight: bold;
	font-family: Amatic SC;
	color: rgb(212, 165, 50);
	grid-gap: 5px;
	text-align: center;
}
.navegacion a:focus {
	color: yellow;
}

.navegacion a:hover {
	color: yellow;
	
}
/*-------------SUBMENU-------------------------*/
.dropdown-menu {
	background: linear-gradient(0deg, rgba(6,1,27,1) 0%, rgba(30,11,69,1) 50%, rgba(11,1,28,1) 100%) !important;
}

.dropdown .dropdown-item {

}

.dropdown .dropdown-item:hover {
	background: linear-gradient(0deg, rgba(6,1,27,1) 0%, rgba(30,11,69,1) 50%, rgba(11,1,28,1) 100%);;
  	color:yellow;
}
/*Fin del menu bootstrap----------------*/


/*INICIO---------------------------------------*/
.subtitulo-inicio {
	background-color: rgb(212, 165, 50);
	font-size: 17px;
	border: 2px solid black;
	padding-top: 15px;
	position: sticky;
	top: 0;
	z-index: 100;
	margin-bottom: 15px;
}
.subtitulo-inicio a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 0 20px 0 20px;

}
.subtitulo-inicio a:hover {
	color: rgb(30,30,15);
	border-bottom: 2px solid black;
	
}

.h1 {
	font-family: arial;
	font-size: ;
	color: white;
	border: 5px solid white;
	padding: 10px 5px 10px 5px;
	border-radius: 50px;
}
.h2-inicio {
	margin-bottom: 20px;
	color: rgb(200,180,220);
}

/*------Contenido cartas-----*/
.card-img-top {
	width: 50% !important;
	margin: auto;
	height: 50% !important;

}
.card {
	margin: 10px auto;

}
/*------Carrusel------*/
.carrusel {
	border: 15px solid black;
	border-radius: 200px;
	background-color: white;
	margin: 15px 0 15px 0;
}
.carrusel-img {
	margin: auto;
	max-width: 350px;
	border-radius: 50%;
	object-position: center;
}




/*INDUMENTARIA----------------------------------------*/
/*correcion de errores que molestaban*/
.subtitulo li {
	list-style-type: none;
	text-decoration: none;
}
.subtitulo ul {
	padding-inline-start: 0px;
}
.subtitulo-inicio li {
	list-style-type: none;
	text-decoration: none;
}
.subtitulo-inicio ul {
	padding-inline-start: 0px;
}
/*correcion de errores que molestaban*/

.carrusel-indumentaria {
	border: 1px solid;
	max-height: 300px;
	margin: auto;
}

.carrusel-img-indumentaria {
	margin: auto;
	width: 90%;
	max-height: 300px;
	object-position: center;
	border: 5px solid black;
}


.titulo {
	font-size: 30px;
	text-align: center;
	background-color: rgb(8,8,5);
	color:white;
	border-top: 1px solid grey;
	padding: 10px 10px;
}

.subtitulo {
	background-color: rgb(212, 165, 50);
	border: 3px solid black;
	
	position: sticky;
	top: 0;
	z-index: 100;
	margin-bottom: 30px;
}


.subtitulo a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10px 0 10px;

}

.subtitulo a:hover {
	color: rgb(30,30,15);
	border-bottom: 2px solid black;
	border-radius: 10%;
}

.btn-ver-mas {
	margin: 20px;
	border: 1px solid white !important;
	border-radius: 30px !important;
	background-color: black !important;
}
/*-------CARD-indumentaria-----*/
.card-indumentaria {
	margin-bottom: 25px;
}

.card-indumentaria:hover {
	box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.75);
	position: relative;
	top: -2px;
}






/*----------ACCESORIOS----------------------------------------*/






/*----------BIJOUTERIE----------------------------------------*/

.bijouteries {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	grid-gap: 10px;
	width: 100%;
	padding: 0px;
	margin-top: 20px;
	/*border: 2px solid white;*/
}

.productoB {
	width: 100%;
	color: white;
	padding-top: 20px;
	text-align: center;
	/*border: 1px solid red;*/
	justify-self: center;
}

.productoB img {
	width: 75%;

	border:2px solid black;

}

.productoB:nth-child(1) {
	grid-column: 1 / 4;	
}
.productoB:nth-child(2) {
	grid-column: 4 / 7;
}
.productoB:nth-child(3) {
	grid-column: 7 / 10;
}
.productoB:nth-child(4) {
	grid-column: 10 / 13;
}
.productoB:nth-child(5) {
	grid-column: 1 / 4;
}
.productoB:nth-child(6) {
	grid-column: 4 / 7;
}
.productoB:nth-child(7) {
	grid-column: 7 / 10;
}
.productoB:nth-child(8) {
	grid-column: 10 / 13;
}
.productoB:nth-child(9) {
	grid-column: 1 / 4;
}
.productoB:nth-child(10) {
	grid-column: 4 / 7;
}
.productoB:nth-child(11) {
	grid-column: 7 / 10;
}
.productoB:nth-child(12) {
	grid-column: 10 / 13;
}
/*------------PERFUMES------------------------------------------------------*/

.perfumes {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	grid-gap: 10px;
	width: 100%;
	padding: 0px;
	margin-top: 20px;
	/*border: 2px solid white;*/
}

.productoP {
	width: 100%;
	color: white;
	padding-top: 20px;
	text-align: center;
	/*border: 1px solid red;*/
	justify-self: center;
}

.productoP img {
	width: 75%;

	border:2px solid black;

}

.productoP:nth-child(1) {
	grid-column: 1 / 4;	
}
.productoP:nth-child(2) {
	grid-column: 4 / 7;
}
.productoP:nth-child(3) {
	grid-column: 7 / 10;
}
.productoP:nth-child(4) {
	grid-column: 10 / 13;
}
.productoP:nth-child(5) {
	grid-column: 1 / 4;
}
.productoP:nth-child(6) {
	grid-column: 4 / 7;
}
.productoP:nth-child(7) {
	grid-column: 7 / 10;
}
.productoP:nth-child(8) {
	grid-column: 10 / 13;
}
.productoP:nth-child(9) {
	grid-column: 1 / 4;
}
.productoP:nth-child(10) {
	grid-column: 4 / 7;
}
.productoP:nth-child(11) {
	grid-column: 7 / 10;
}
.productoP:nth-child(12) {
	grid-column: 10 / 13;
}

/*------------CONTACTO------------------------------------------------------*/
.contenedor-contacto {
	border:20px solid black;
	max-height: 100%;
	background-color: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(82,82,82,1) 89%, rgba(195,159,255,1) 100%);
}

.contacto {
	
	color: white;
	padding: 20px;
	text-align: center;
	
	
}

.contacto div {
	
	max-width: 75vw;
	margin: auto;
}

.logotipo-contacto {
	display: flex;
	justify-content: center;
}
.logotipo-contacto img {
	max-width: 250px;
	min-width: 180px;
}
.btn-contacto {
	border-radius: 50px !important;
	margin-top: 25px;
	color: black !important;
	background-color: white !important;
	border:1px solid black !important;
}
.btn-contacto:hover {
	background-color: #111 !important;
	color: white !important;
	border:1px solid white !important;
}
/*------------FOOTER-------------------------------------------------------------------*/

.contenedor-footer {
	border-top: 3px solid grey;
}
.img-logo {
	min-width: 180px;
}
.nosotros h2{
	font-size: 20px;
}
.iconos-footer a{
	font-size: 30px;
	text-decoration: none;
	margin: 5px;
	color: rgb(200,200,200);
	background-color: rgb(50,50,200);
	padding: 10px 12px;
	border-radius: 10px; 
	border: 1px solid rgb(200,200,200);
}

.iconos-footer a:hover {
	color: white;
	border:1px solid white;
}
/*--------------RESPONSIVE----------------------------------------------*/
/*--------------RESPONSIVE----------------------------------------------*/
/*--------------RESPONSIVE----------------------------------------------*/

