
$color-del-logo: rgb(212, 165, 50);
$fuente-principal: 'amatic sc', 'arial', sans-serif;
$fuente-secundaria: 'arial', 'amatic sc', sans-serif ;
$background-principal: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(81,25,115,1) 19%, rgba(69,50,92,1) 36%, rgba(36,31,41,1) 63%, rgba(0,0,0,1) 88%, rgba(0,0,0,1) 100%);
$background-secundario: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,23,54,1) 50%, rgba(129,95,199,1) 100%);
$background-terciario: linear-gradient(0deg, rgba(6,1,27,1) 0%, rgba(30,11,69,1) 50%, rgba(11,1,28,1) 100%);
$color-footer: rgb(200,200,200);
                          